
.history{
    width: 90%;
    margin: auto;
    line-height: 40px;
}

.principals table{
    width: 100%;
}
.principals table th{
    border: 1px solid #aaa7a7;
}
.principals table td{
    border: 1px solid #c2bdbd;
    padding: 10px;
}


/****/
.college-profile{
    background-color: #000;
}
.coll-profile{
    width: 90%;
    margin: auto;
    
}
.coll-profile h1{
    color: #fff;
    line-height: 70px;
}
.coll-profile p{
    font-size: 18px;
    color: #fff;
}
/***/
.nirf  li {
    margin-top: 50px !important;
    margin-left:100px;
    font-size: 20px;
    width: 12%;
    
    
}
.nirf a{
  text-decoration: none;
  color: #000;
  
}
.nirf a:hover{
   text-decoration: underline;
 
}

/**/
.aishe img{
   margin-top: 30px !important;
   border: 1px solid black;
}

/***/
.alumini{
    width: 90%;
    margin: auto;
}
.alumini table{
    width: 100%;
    border:1px solid #9b9595;
}
.alumini th{
   border: 1px solid #e1e1e1;    
}
.alumini td{
    border:1px solid #9b9595;
    padding-left: 15px;
    padding-top: 10px;
}
/****/

.naac button a{
    text-decoration: none;
    color: #fff;
}
.naac button{
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    border: none;
}
.naac button:hover{
    background-color: rgb(114, 105, 105);
}