.administration{
    
}
.clg_img{
    width: 100%;
    height: 320px;
    overflow: hidden;
    
}
.clg_img img{
    width: 100%;
    height: 600px;
    margin-top: -60px;
    
}
.principal{
    position: relative; 
    top: -60px;
    width: 100%;
    
    display: flex;
    
}
.principal img{
    width: 15%;
    height: 30vh;
    margin-left: 20px;
    box-shadow: -50px -50px 0 -40px #243763, 50px 50px 0 -40px #243763;
}
.principal .detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-top: 50px;
    
}

.dis{
    width: 90%;
    margin: auto;
    
}
.dis p{
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.visionMission{
    
    margin-top: 100px;
}
.visionMission h1{
    text-align: center;
    letter-spacing: 2px ;
    background-color: #FED049;
    
}
.visionMission p{
    margin-top: 40px;
    margin-left: 50px;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.visionMission li{
    list-style:decimal;
    margin-top: 10px;
    
}
.staff h3{
    margin-top: 50px;
    margin-left: 50px;
    color: red;
    font-size: 25px;
    
}
.Employees{
    width: 90%; 
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
}
.Employees table{
    width: 100%;
    border-collapse: collapse;
    
}
.Employees img{
    width: 150px;
    height: 30vh;
}
.Employees th{
    border: none ;
    border-bottom: 1px solid #b9b8b8;
}
.Employees td, th {
    border-bottom: 2px solid #b9b8b8;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /*Non teaching */

  .nontec h1{
     width: 60%;
     text-align: center;
     margin: auto;
     
  }
  .nonteaching{
    width: 100%;
    margin-top: 40px;
  }
  .nonteaching table{
    width: 100%;
    
  }
  .nonteaching tr:nth-child(even){
    background-color: #c3cfeb;
  }

  /* Internal */

.internal h1{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 26px;
    color: #107896;
}
.internal {
    font-size: 17px;
    width: 95%;
    margin: auto;
    color: black;
    background-color: #FFEBAD;
}
.internalMain{
    background-color: #FFEBAD;
    
}
.internal h2{
    width: 68%;
    margin: auto;
   color:rgb(4, 54, 56);   
}
.internal span{
    float: right;
    font-weight: bold;
    color: #046619;
}
.internal footer{
    height: 13vh;
}


/*Committees*/


.committees{
    width: 90%;
    margin: auto;
    margin-top: 20px;

}
.committees h2{
    width: 80%;
    text-align: center;
    margin: auto;
    
}
.committees span{
    float: right;
    font-weight: bold;
}
.committees table{
    width: 100%;
    margin-top: 30px;
    border: 1px solid black;
}
.committees td ,th{
    border: 1px solid rgb(134, 133, 133);
}
.committees table td{
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    
}
.committeesMain footer{
    height: 13vh;
}

/*teaching js */

.faculty {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.faculty h1{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: rgb(0, 51, 75);
}
.faculty table{
    width: 100%;
    
}
.faculty th{
    border: none;
    border-bottom: 1px solid #b9b8b8;
}
.faculty td{
    border-bottom: 1px solid #b9b8b8;
    text-align: center;
    padding: 8px;
}


/***/
.rtipdf{
    width: 100%;
    
    display: flex;
    column-gap: 10px;
}
.rtipdf iframe{
    width: 50%;
    height: 100vh;
}