/**infra*/
.infra .gallery{
   background-color: #fff;
}
.infra .gallery h1{
   background-color: #000;
}




/*form css*/
form{
   width: 500px;
   margin: auto;
   display: flex;
   row-gap: 20px;
   flex-direction: column;
   
}
form input{
   width: 50%;
   height: 30px;
   padding-left: 5px;
   margin: auto;
}
form label{
   width: 50%;
   margin: auto;
   
}
form button{
   width: 70px;
   height: 6.7vh;
   background-color: rgb(26,115,232);
   border: none;
   color: #fff;
   border-radius: 3px;
   margin: auto;
}
form button:hover{
   background-color: rgb(7, 68, 148);
}


/*mobile */

@media screen and (max-device-width: 640px) {
   body{
      -webkit-touch-callout:none;
      -webkit-user-select:none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      -webkit-tap-highlight-color:rgba(0,0,0,0);
   }

   .searchstudent form{
      width: 100% !important;
      margin: auto !important;
      display: flex !important; 
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      
   }

   .header{
      background-color: #000 !important;
      height: 70px !important;
   }
   .header .logo{
      width: 100%;
   }
   .header .logo img{
      width: 50px;
      height: 50px;
      margin-left:-20px;
   }
   .header .logotext{
      width: 100%;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center;
      margin-top: -8.8px;
      
   }
   .header .logotext p{
      
      font-size: 15px;
      margin: 0px !important;
      color: #fff;
    
   }
   .header .logotext span{
      font-size: 15px ;
      color: #fff;
      
   }
   .header .menu{
      height: 65px;
      background-color: #000;
   }
   .header .menu .bar1{
      width: 20px;
      height: 3px;
      margin-top:5px;
   }
   
   .Home .homepage h1{
      font-size: 27px ;
   }
   .homesection h1{
      margin: 0px !important;
      margin-left: 15px !important;
      margin-top: 5px !important;
      margin-bottom: 18px !important;
   }
   .events .event{
      width: 350px !important;
   }
    /****/
    
    .menubox .header1{
      height: 70px !important;
   }
   .menubox .header1 .logo{
      width: 100%;
      display: flex;
   }
   .menubox .header1 .logo img{
      width: 50px !important;
      height: 50px !important;
      margin-left:-5px !important;
      margin-top: -6px !important;
   }
   .menubox .header1  .logotext{
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center;
      margin-top: -8.8px;
   }
   .menubox .header1 .logotext p{
      font-size: 15px;
      margin: 0px !important;
      color: #fff;
      border: none !important;
   }
   .menubox .header1 .logotext label{
      font-size: 15px ;
      color: #fff;
   }
   .menubox .close{
      width: 20%;
      margin-left: auto !important;
      display: flex !important;
      justify-content: center;
      column-gap: 4px;
      margin: 0px !important;
   }
   .menubox .close label{
     display: none;
     
   }
   .menubox .close span{
      width: 20px !important;
      height: 20px !important;
      text-align: center;
      margin: 0px !important;
      padding: 5px;
   }
   .menubox .menucontent{
      overflow: visible;
      
   }
   .menubox .menucontent ul {
       display: grid ;
       margin-left: 1px;
       
   }
   
   .menubox .menucontent ul li{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size:28px;
   }
   
   .submenu{
      
      left: 5px;
      position: relative !important;
     
   }
   .submenu ul {
      border-left: 1px solid #fff;
      width: 200px !important;
      
   }
   .submenu ul li{
      font-size: 15px;
      margin-left: 7px !important;
      
  }  
  .submenu ul li::after{
    content: "" !important;
  }
  .menubox .footer li{
   margin: 5.5px !important;
  }
  .menubox .footer li:first-child::after{
      margin-left: -5px !important;
  }
  /*Home page done*/
  .principal{
   display: grid !important;
  }
  .principal img{
     width: 150px !important;
     height: 200px !important;
  }
  .principal .detail{
   width: 90%;   
   margin-left: 0px !important;
  }
  .principal .detail h1{
    margin-top: -40px;
    margin-left: 25px;
  }
  .principal .detail h2{
   width: 90% !important;
   margin: auto;
  }
   .Employees {
     width: 100% !important;
     margin: 0px !important;
     overflow-x:auto ;
  }
/**/
 .committees h2{
   width: 100% !important;
 }
  .committeesMain .committeeTable{
   width: 100%;
   overflow-x: auto;

}
/**/

.faculty h1{
   width: 100% !important;
}
.faculty .facultytable {
   overflow-x: auto;
}
/**/
.nontec h1{
  width: 100% !important;
}
.nonteaching {
   overflow-x: auto;
}
/**/
.internal h1 , h2{
   width: 100% !important;
}
/***/
.program .pro-item{
   opacity: 1 !important;
   
}

.program .pro-item:hover {
   width: 0px !important;  
 
}
/***/
 .departmentFAC{
   overflow-x: auto !important;
 }
 .maps .map{
   width: 360px !important;
 }
 .principals{
   overflow-x: auto;
 }
 .nirf ul li{
   width:100px;
   
 }

  form{
    width:300px !important;
 }
  form input{
  width:300px !important;
}
 }



/*large*/
@media screen and (min-width: 705px) and (max-width: 1078){
 body{
   background-color: red;
 }
 .header .logo img{
    width: 8em;
    height: 8em;
 }
 .header .logotext p {
    font-size: 28px;

 }
 .header .logotext span{
    font-size: 30px;
 }
}
