.library p{
    margin-top: 40px;
   margin-left: 40px;
}

.ncc{
    width: 90%;
    margin: auto;
}
.ncc .gallery{
    background-color: #fff;

}
.ncc .gallery h1{
    line-height: 80px;
    color: #000;
  }
  .ncc .gallery .frame{
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 5px;
  }
  .ncc .frame .gallery_image{
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    
  }
  
  .ncc .frame img{
    transition: all .4s ease-in-out;
  }
  .ncc .frame img:hover{
    transform: scale(1.2);
  }

  .ncc .gallery footer{
    height: 7vh;
  }
  
.nss{
  width: 90%;
  margin: auto;
}
.nss .gallery{
  background-color: #fff;

}
.nss .gallery h1{
  line-height: 80px;
  color: #000;
}
.nss .gallery .frame{
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 5px;
}
.nss .frame .gallery_image{
  width: 300px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  
}

.nss .frame img{
  transition: all .4s ease-in-out;
}
.nss .frame img:hover{
  transform: scale(1.2);
}

.nss .gallery footer{
  height: 7vh;
}

/**/

.laboratory{
  display: flex;
  flex-direction: column;
}

.labsection{
  width: 90%;
  margin: auto;
  margin-top: 50px !important;
}
.labsection img{
  width: 200px;
  height: 250px;
  float: right;
}

/****/
.library .gallery{
  background-color: #fff;

}
.library .gallery h1{
  line-height: 80px;
  color: #000;
}
.library .gallery .frame{
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.library .frame .gallery_image{
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
  overflow: hidden;
  
}

.library .frame img{
  transition: all .4s ease-in-out;
}
.library .frame img:hover{
  transform: scale(1.1);
}

.library .gallery footer{
  height: 7vh;
}
