.searchstudent{
    width: 100%;
    height:13vh;
    display: flex;
    margin-top: 10px ;
}
.searchstudent form{ 
    width: 100%;
    height:13vh;
    margin: 0 !important;
}
.searchstudent input{
    width: 70%;
    padding-left: 30px;
    height: 6vh;
    outline:none;
}
.searchstudent button{
    width: 70px;
    height: 6.7vh;
    background-color: rgb(26,115,232);
    border: none;
    color: #fff;
    border-radius: 3px;
}
.searchstudent button:hover{
    background-color: rgb(7, 68, 148);
}
.findAPRDC{
    width: 295px !important;
    margin: auto;
    margin-top: 40px !important;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px  #000;
    overflow: hidden !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 15px;
}
.svgbottom{
    width: 100%;
    height: 10vh;
}
.svgbottom svg{
    position:relative;
    height: 100%;
}
.findAPRDC h2{
    
    text-transform:capitalize;

}
.findAPRDC img{
    width: 140px;
    height: 150px;
    border: 6px solid rgb(25, 201, 207);
    border-radius: 85px;
}
.findAPRDC p{
    text-transform:capitalize;
    margin-left: 20px;
}
.findAPRDC span{
    margin-left: 20px;
    font-size: 13.5px !important;
}