
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&family=Libre+Baskerville:wght@700&family=Noto+Serif+TC:wght@200&display=swap'); 
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 90px;
    border-bottom:1px solid #bac5c6;
    display: flex;
   background-color: #e3e5e5;
}
.logo{
    width: 50%;
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
}
.logo img{
    width: 5em;
    height: 5em;
    position: relative;
    
}
.logotext{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logotext p{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
  
}
.logotext span{
  font-size: 20px;
  color: #000;
  font-family: 'EB Garamond', serif;
  
}

 .menu{
  width: 60px;
  height: 90px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto !important;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 9;
  background-color: #1e1e1e;
 } 
.bar1 {
  width: 40px;
  height: 0.7vh;
  position: relative;
  margin-top: 8px;
  background-color: white;
}
.menu:active{
  background-color: rgb(44, 44, 44);
}
.menubox{
  width: 100%;
  height: 100%;
  position:fixed;
  background-color: #0e0e0e;
  transition: all .4s ease-in-out;
  margin-top: -150%;
  opacity: 0;
  overflow: hidden;
  z-index: -100;
  
  
}
.menubox.active{
  
  width: 100%;
  height: 100%;
  position:fixed;
  background-color: #0e0e0e;
  transition: all .4s ease-in-out;
  margin-top: 0%;
  opacity: 1;
  
  overflow: hidden;
  z-index: 999;
   
}
#menubox span{
  width: 20px;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 15px;

}
#menubox label{
  color: white;
  font-weight: bold;
  float: right;
  margin-top: 19px;
  margin-right: 10px;
}
#menubox span:hover{
   transform: scale(1.5);
}

.header1{
  width: 100%;
  height: 97px;
  display: flex;
  border-bottom: 1px solid #1e1e1e;
}

.header1 .logo{
  width: 30%;
  margin-left: 20px !important;
  align-items: center;
  display: flex;
}
.header1 .logo img{
  width: 5em;
  height: 5em;
}
.header1 .logotext{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.header1 .logotext p{
  color:white;
  font-size: 20px ;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  
}
.header1 .logotext label{
font-size: 20px;
margin-top: 0px !important;
font-family: 'EB Garamond', serif;
}


.header1 .close{
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-top: -30px;
}
.header1 .close span{
  width: 20px;
  height: 22px;
  display: flex;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 15px;

}
.header1 .close label{
  color: white;
  font-weight: bold;
}
.header1 span:hover{
   transform: scale(1.5);
}
.menucontainer{
  width: 100%;
  height: 74%; 
  display: flex;
  
}
.menucontent{
  overflow-y: auto;
  
  overflow-x:hidden;
  
}
::-webkit-scrollbar {
  width: 7px;
  
}
::-webkit-scrollbar-track {
  background:linear-gradient(to bottom ,#0e0e0e, #35393d);
}
::-webkit-scrollbar-thumb {
  
  background: linear-gradient(to bottom , #35393d , #0e0e0e);
  border-radius: 18px;
}

.menucontent li{
  list-style: none;
  color: white;
  font-size: 45px;
  letter-spacing: .1px;
  margin-top: -40px;
  opacity: 0;
  margin-left: 20px; 
  position: relative;
  display: inline-block;
  color: #fff;
  font-family: Canela Deck Web;
  transition: all .6s ease-in-out;
  cursor: pointer; 
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.menucontent li::after{
  content: '';
  position: absolute;
  width: 0; 
  height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}
.menucontent li:hover::after{
    left: 0;
    background: #fff;
    width:100%;
  }
 
 #menubox .footer{
    list-style: none;
    color: white;
    position: absolute;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22.5px;
    display: flex;
    align-items: center;
    overflow: auto;

    left: 0;
    bottom: 0;
    border-top: 1.5px solid #35393d;
    
  }
 #menubox .footer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
  display: none;
}
  .footer a{
    text-decoration: none;
    color: inherit;
  }
  
#menubox .footer li:first-child{
    display: inline-block;
    margin-left: 43px;
    color:#505f6d;
    font-weight: bold;
    font-size: medium;
  }
 #menubox .footer li:first-child::after{
    content: url(../images/arrow.png);
    margin-left: 18px;
    position: relative;
    top: 5px;
    }

#menubox .footer li{
  margin-left: 40px;
  color: white;
  font-weight: bold;
  font-size: 16px;

}
#menubox .footer li:hover{
  color: #878c91;
}
