.maps{
    width: 100%;
    
}
.maps h1{
   color:  #000;
   margin-left: 30px;
   line-height: 100px;
   text-decoration: underline;
}
.maps .map{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
}
.map iframe{
    width: 100%;
}
.maps footer{
    height: 5vh;
}

.visit {
    width: 90%;
    margin: auto;
    
}
.visit h1{
    line-height: 80px;
    color: #000;
}
.visit p {
    font-size: 18px;
    color: #000;
}